@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h2 {
    @apply text-4xl font-bold;
  }
}

@layer components {
  .btn {
    @apply px-4 py-2 rounded-md bg-light-green text-white;
  }
  .loginBtn {
    @apply px-4 py-2 rounded-md bg-green text-light-brown;
  }
  .trip-card {
    @apply bg-white rounded-md shadow-[0px_0px_6px_1px_#1a202c] w-72 h-72 place-self-center p-8;
  }
  .card-shadow {
    @apply shadow-[0px_0px_6px_1px_#1a202c];
  }
  .navItem {
    @apply text-brown font-bold text-lg;
  }
  .rounded-card {
    @apply rounded-md;
  }
  .secondary-header {
    @apply text-3xl font-bold;
  }
  .tip-container {
    @apply  flex ;
  }
  .heroImage {
    @apply bg-black ;
  }
  .heroContent {
    @apply flex flex-col z-20  ;
  }
}

.mobileContainer {
  max-height: calc(100vh - 130px);
}

  .slick-slide > div {
    min-width: 320px;
    margin:0 10px;

  }
  .slick-slider {
    mq(768px) {
    max-height: 224px;
  }
  mq(425px) {
    width: 224px;
    min-width: 224px;
    margin:0 10px;
    max-height: 300px;
  }
  }

  .slick-list {
    mq(768px) {
      max-height: 224px;
    }
  }


  .slick-track {
    max-height: fit-content;
  }

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: 0, 0, 0;
}
